.site-footer {
    background-color: rgb(126, 188, 187);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .site-footer a {
    text-decoration:  none;
  }
  
  .site-footer a:first-of-type {
    margin-top: 1em;
  }
  
  .site-footer a:last-of-type {
    margin-bottom: 1em;
  }
  
  .site-footer p {
    color: #121211;
    font-size: 2em;
    text-align: center;
    padding: .2em;
    border-bottom: 0.5px solid rgb(6, 88, 97);
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: .4em;
      font-size: 30px;
      width: 50px;
      margin-top: .5em;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
  }