@media (orientation: landscape) {
    .desktop-top-logo-color-wrapper {
      display: none;
    }
    #phone {
      display: block;
      float: left;
      width: 14%;
    }
    .topnav a:not(:first-child) {
      display: block;
      width: 10%;
      height: 1.2em;
  }
    .topnav a.icon {
      display: none;
    }
    .topnav a:not(.icon) {
      padding: 1em 1% 1em 1%;
  }
    .mobile-logo-wrapper {
      height: 1.2em;
      display: flex;
      width: 30%;
      float: left;
      align-items: center;
      justify-content: center;
      padding: 1em 1% 1em 1%;
  }
  .mobile-logo {
    height: 110%;
  }

  .contact-footer {
    font-size: 1.5em;
  }

.first-image-overlay img {
  height: 4em;
  width: 4em;
  margin: auto;
}
#menu-btn {
  margin-bottom: 0px;
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
#menu-btn button {
  margin-right: 3em;
}
#catering-btn {
  margin-top: 0px;
  display: flex;
  width: 50%;
  justify-content: flex-start;
}
#catering-btn button {
  margin-left: 3em;
}
.footer-button {
  padding: .7em .9em .7em .9em;
  margin: 1.2em 1em 1em 1em;
  font-size: .6em;
}
#footer-close-btn {
  font-size: .8em;
}
.grid-container{
  justify-content: center;
  grid-template-columns: 40% 40%;
  border: 50px solid black;
  border-left: 25px solid black;
  border-right: 25px solid black;
  grid-template-areas: 
   "contactHeading contactHeading"
   "namePhoneNumber namePhoneNumber"
   "hoursHeading hoursHeading"
   "hoursInfo hoursInfo"
   "locationHeading locationHeading"
   "addressFirstLine addressSecondLine"
   "directionButton map"
   "callButton map";      
}
.grid-item-9 {
  display: flex;
  grid-area: map;
  height: 50%;
  align-items: center;
  margin-bottom: 3em;
}

.grid-item-5 {
  margin-top: .5em;
  align-self: center;
  font-size: 1.2em;
  grid-area: hoursInfo;
}
.grid-container button {
  padding: .3em;
  background-color: black;
  color: white;
  font-size: 1.1em;
  border-style: none;
  width: 6em;
  margin-bottom: .3em;
}
.grid-item-3 {
  height: 25vh;
  align-self: start;
  grid-area: callButton;
  margin-bottom: 3em;
}
.grid-item-10 {
  display: flex;
  grid-area: directionButton;
  align-items: flex-end;
  margin: 0px;
  height: 25vh;
}
.grid-item-7 {
  grid-area: addressFirstLine;
  justify-self: end;
  font-size: 1.3em;
}
.grid-item-8 {
  font-size: 1.3em;
  grid-area: addressSecondLine;
  justify-self: start;
  align-self: center;
  margin-left: .2em;
}
.about-us-img-wrapper {
  height: 40vh;
}
.about-us-flavor-text p {
  width: 70%;
}
.chef-img-wrapper {
  width: 70%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 3em;
}
.chef-img-wrapper img {
  width: 100%;
}
.about-us-body-text {
  width: 100%;
  font-size: 1.9em;
}
.about-us-body-text p {
  text-align:  center;
  margin: 0px 1.5em 0px 1.5em;
}
.site-footer p:hover {
  background-color: #ccf6ff;
  color: black;
}
.fa-facebook:hover {
 background: lightblue;
}
.gallery-button-styling button:hover {
  background-color: grey;
}
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 900px) {
  .contact-footer {
    display: none;
  }
  #topnav-space-taker {
    display: none;
  }
  .topnav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background-color: rgb(126,188,187);    
}
    .topnav a:not(:first-child) {
      display: block;
      width: 20%; 
    }
    /* Hide the link that should open and close the topnav on small screens */
   .topnav a.icon {
    display: none;
  }
  .topnav a {
    font-size: 1.4em;
    display: block;
    width: 20%;
  }
#first-image {
  width: 100%;
}
.first-image-overlay p {
  font-size: 2.5em;
  margin: 1.5em 2em 1.5em 2em;
}
.first-image-overlay img {
  height: 8em; 
  margin: auto;
}
  .desktop-top-logo-color-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop-top-logo-color-wrapper img {
    width: 25%;
    margin: 30px 0px 30px 0px;

  }
  .mobile-logo-wrapper {
    display: none;
  }
  .menu-wrapper img { 
    width: 100%;
}
  .menu-img-overlay button {
    font-size: 1.5em;
    width: 7em;   
}
.grid-container{
  justify-content: center;
  grid-template-columns: 35% 35%;
  grid-template-areas: 
   "contactHeading contactHeading"
   "namePhoneNumber namePhoneNumber"
   "hoursHeading hoursHeading"
   "hoursInfo hoursInfo"
   "locationHeading locationHeading"
   "addressFirstLine addressSecondLine"
   "directionButton map"
   "callButton map";      
}
.grid-item {
  font-size: 1.6em;
}
.grid-item-9 iframe {
  height: 100%;
}
.grid-item-3 {
  background-color: blue;
  display: flex;
  height: 4em;
  align-items: flex-start;
  grid-area: callButton;
  margin-bottom: 3em;
}
.grid-item-9 {
  height: 8em;
}
.grid-item-10 {
  align-self: center;
  grid-area: directionButton;
  height: 4em;
  background-color: lightblue;
}
.grid-item-7 {
  justify-self: end;
  grid-area: addressFirstLine;
}
.grid-item-8 {
  grid-area: addressSecondLine;
  justify-self: start;
  margin-left: .2em;
}
.about-us-header h3 {
  font-size: 3.2em;
}
.about-us-flavor-text {
  font-size: 3em;
}
.about-us-flavor-text p {
  width: 50%;
}
.chef-img-wrapper {
  width: 60%;
  height: 30em;
  overflow: hidden;
  margin-bottom: 2em;
}
.chef-img-wrapper img {
  width: 100%;
  margin-left: 2em;
}
.about-us-body-text {
  width: 40%;
  font-size: 2.8em;
}
.about-us-body-text p {
  text-align:  center;
  margin: 0px 1em 0px 1em;
}
.gallery-button-styling {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 5em;
}
.gallery-button-styling button {
  color: white;
  font-size: 1.6em;
  padding: 1em;
  background-color: black;
  width: 30%;
}
.site-footer {
  padding: 1.3em 0px 1.3em 0px;
  background-color: rgb(126, 188, 187);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.site-footer p {
  font-size: 1.5em;
}
.site-footer a:first-of-type {
  margin-top: 0px;
}
.site-footer a:last-of-type {
  margin-bottom: 0px;
}
.fa-facebook {
  margin-top: 0px;
}
}
@media screen and (min-width: 1200px) { 
  .topnav a:not(:first-child),  #phone {
    width: 17%;
}
  .grid-item {
    font-size: 2.1em;
  }
  .about-us-header h3, .about-us-flavor-text {
    font-size: 4.5em;
  }
  .about-us-flavor-text p {
    width: 50%;
  }
  .site-footer p {
    font-size: 2em;
  }

  .topnav a {
    font-size: 2.3em;
  }
    }