.contact-footer {
  box-shadow: -10px -1px rgb(6, 88, 97);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(126,188,187);
  color: white;
  text-align: center;
}

  .footer-button {
    cursor: pointer;
    width: 7em;
    padding: .7em .7em .7em .7em;
    margin: 1em 1em 1em 1em;
   background-color: rgb(6, 88, 97);
   color: white;
   text-decoration: none;
   font-size: .50em;
   border: none;
  }

  #footer-close-btn {
    position: absolute;
    cursor: pointer;
    top:10px;
    right: 20px;
    background-color: rgb(126,188,187);
    color: white;
    text-decoration: none;
    border: none;
    font-size: .55em;
    text-shadow: 2px 0.5px rgb(91 138 137);
    
  }

  #footer-close-btn:hover {
    
    transform: scale(1.2);
  }
