/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* mobile styling */
/* Add a black background color to the top navigation */
/* Add a black background color to the top navigation */
#topnav-space-taker {
  visibility: hidden;
  position: relative;

}
.topnav {
  position: fixed;
  width: 100%;
  font-size: 1.1em;
  top: 0px;
  left: 0px;
  background-color: rgb(126,188,187);
  overflow: hidden;
  z-index: 20;
}
    
.topnav a {
    float: left;
    display: none;
    text-align: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    
  
  }

  .topnav a.icon {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 6em;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* font-size: 20px; */
}

.topnav a:not(.icon) {
  padding: 1em 2em 1em 2em;

  
}

 

  .topnav.responsive a {
    z-index: 1;
    float: none;
    display: block;
    text-align: left;
  }

  .first-image-wrapper{
    z-index: -1;
  }
  

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ccf6ff;
    color: black;
  }

  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgb(6, 88, 97);
    color: white;
  }
  .topnav a.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 5em;
  }
  .mobile-logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 5em;
}
  .mobile-logo {
      width: 30%;
      height: 70%;
      
  }

  #phone {
    display: none;
  }

  .desktop-top-logo-color-wrapper {
    display: none;
  }

  .contact-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(126,188,187);
    color: white;
    text-align: center;
  }

  .footer-button {
    padding: .7em .7em .7em .7em;
    margin: 1em 1em 1em 1em;
   background-color: rgb(6, 88, 97);
   color: white;
   text-decoration: none;
   font-size: .50em;
   border: none;
  }

  #footer-close-btn {
    position: absolute;
    top:10px;
    right: 20px;
    background-color: rgb(126,188,187);
    color: white;
    text-decoration: none;
    border: none;
    font-size: .55em;
    
  }

  .first-image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .first-image-wrapper img {
    width: 100%;
   
  }

  .first-image-overlay {
    display: flex;
    align-items:  center;
    justify-content: center;;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    
  }

  .first-image-overlay p {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin:  1em 2em 1em 2em;
  }

  .first-image-overlay img {
    height: 4em;
    width: 4em;
    margin: auto;
  }

  .chair-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .black-tint-overlay {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 20%;
  }

  .menu-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
   
}

  .menu-wrapper img{
    height: 19em;
    width: 100%;
  }

  .menu-img-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .menu-img-overlay div {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
}

  .menu-img-overlay button {
    color: white;
    font-size: 1.2em;
    width: 7em;
    padding: .5em;
    background-color: rgb(227, 11, 4);
    transform: skew(-21deg);
  }

  .menu-img-overlay button:hover {
    background-color: pink;
  }
  #menu-btn {
    margin-bottom: 1em;
    /* flex-wrap: wrap; */
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-right: .8em; */
}



#menu-btn button {
  border: .2em solid white;
}
#catering-btn {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin-left: 0.8em; */
}
#catering-btn button {
  border: .2em solid white;
}
  
  @media (orientation: landscape) {
    .desktop-top-logo-color-wrapper {
      display: none;
    }
    #phone {
      display: block;
      float: left;
    }
    .topnav a:not(:first-child) {
      display: block;
      width: 10%;
      height: 1.2em;
  }
    
    .topnav a.icon {
      display: none;
    }
    .topnav a:not(.icon) {
      padding: 1em 1% 1em 1%;
  }

    .mobile-logo-wrapper {
      height: 1.2em;
      display: flex;
      width: 30%;
      float: left;
      align-items: center;
      justify-content: center;
      padding: 1em 1% 1em 1%;
  }

  .contact-footer {
    font-size: 1.5em;
  }
  .first-image-wrapper img {
    width: 100%;
    height: 16em;
}

.first-image-overlay img {
  height: 4em;
  width: 4em;
  margin: auto;
}

#menu-btn {
  margin-bottom: 0px;
  
  display: flex;
  width: 50%;
  justify-content: flex-end;
  
 
}

#menu-btn button {
  margin-right: 3em;
}

#catering-btn {
  margin-top: 0px;
  display: flex;
  width: 50%;
  justify-content: flex-start;
  /* margin-left: 0.8em; */
}

#catering-btn button {
  margin-left: 3em;
}
.footer-button {
  padding: .9em .9em .9em .9em;
  margin: 1.2em 1em 1em 1em;
  
}
#footer-close-btn {
  
  font-size: .8em;
  
}

  }

 


  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 900px) {
  .contact-footer {
    display: none;
  }
  .topnav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background-color: rgb(126,188,187);
    
}
    .topnav a:not(:first-child) {
      display: block;
      width: 20%;
    
    }
    /* Hide the link that should open and close the topnav on small screens */
   .topnav a.icon {
    display: none;
  }

   
  .topnav a {
    font-size: 17px;
    display: block;
    width: 20%;
 
  }

  #first-image {
    width: 100%;
    height: 32em;
}

.first-image-overlay p {
  font-size: 2em;
  
  margin: 1.5em 2em 1.5em 2em;
}

.first-image-overlay img {
  height: 6em;
  width: 6em;
  margin: auto;
}
  
  .desktop-top-logo-color-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop-top-logo-color-wrapper img {
    width: 25%;
    margin: 30px 0px 30px 0px;

  }
  .mobile-logo-wrapper {
    display: none;
  }
  .menu-wrapper img {
    height: 35em;
    width: 100%;
}

  .menu-img-overlay button {
    
    font-size: 1.5em;
    width: 7em;
    
}

 
   
}

 
  
  