/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
input{
    border:1px solid #b0b0b0;
    padding:3px 5px 4px;
    color:#979797;
    width:190px;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}

/* mobile styling */
/* Add a black background color to the top navigation */
/* Add a black background color to the top navigation */
#topnav-space-taker {
  visibility: hidden;
  position: relative;

}
.topnav {
  position: fixed;
  width: 100%;
  font-size: 1.1em;
  top: 0px;
  left: 0px;
  background-color: rgb(126,188,187);
  overflow: hidden;
  z-index: 20;
}
    
.topnav a {
    float: left;
    display: none;
    text-align: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    
  
  }

  .topnav a.icon {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 6em;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* font-size: 20px; */
}

.topnav a:not(.icon) {
  padding: 1em 2em 1em 2em;

  
}

 

  .topnav.responsive a {
    z-index: 1;
    float: none;
    display: block;
    text-align: left;
  }

  .first-image-wrapper{
    z-index: -1;
  }
  

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ccf6ff;
    color: black;
  }

  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgb(6, 88, 97);
    color: white;
  }
  .topnav a.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: 5em;
  }
  .mobile-logo-wrapper {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 5em;
}
  .mobile-logo {
      
      height: 70%;
      
  }

  #phone {
    display: none;
  }

  .desktop-top-logo-color-wrapper {
    display: none;
  }

  .contact-footer {
   display: flex;
 
    justify-content: center;
    align-items: center;
    font-size: 2em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(126,188,187);
    color: white;
    text-align: center;
  }

  .footer-button {
    width: 7em;
    padding: .7em .7em .7em .7em;
    margin: 1em 1em 1em 1em;
   background-color: rgb(6, 88, 97);
   color: white;
   text-decoration: none;
   font-size: .50em;
   border: none;
  }

  #footer-close-btn {
    position: absolute;
    top:10px;
    right: 20px;
    background-color: rgb(126,188,187);
    color: white;
    text-decoration: none;
    border: none;
    font-size: .55em;
    
  }

  .first-image-wrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

 

  .first-image-overlay {
    display: flex;
    align-items:  center;
    justify-content: center;;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    
  }

  .first-image-overlay p {
    color: white;
    font-size: 1.5em;
    text-align: center;
    margin:  1em 2em 1em 2em;
  }

  .first-image-overlay img {
    height: 4em;
    width: 4em;
    margin: auto;
  }

  /*
  #first-image {
    height: 70vh;
  }
  */

  .chair-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .black-tint-overlay {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 20%;
  }

  .menu-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}



  .menu-img-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .menu-img-overlay div {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
}

  .menu-img-overlay button {
    color: white;
    font-size: 1.2em;
    width: 7em;
    padding: .5em;
    background-color: rgb(227, 11, 4);
    transform: skew(-21deg);
  }

  .menu-img-overlay button:hover {
    background-color: pink;
  }
  #menu-btn {
    margin-bottom: 1em;
    /* flex-wrap: wrap; */
    display: flex;
    width: 100%;
    justify-content: center;
    /* margin-right: .8em; */
}



#menu-btn button {
  border: .2em solid white;
}
#catering-btn {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin-left: 0.8em; */
}
#catering-btn button {
  border: .2em solid white;
}

h3 {
  font-size: 1.4em;
}

.blueFont {
  color: blue;
}

.grid-container {
  display: grid;
  border: 30px solid black;
  border-left: 15px solid black;
  border-right: 15px solid black;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(90px, auto);
 
  grid-template-areas: 
  "contactHeading"
  "namePhoneNumber"
  "callButton"
  "hoursHeading"
  "hoursInfo"
  "locationHeading"
  "addressFirstLine"
  "addressSecondLine"
  "map"
  "directionButton"
  ;
}

.grid-container button {
  padding: .3em;
  background-color:  black;
  color: white;
  font-size: 1.1em;
  border-style: none;
  width: 6em;
}

.grid-container button:hover {
  background-color: grey;
}

.grid-item {
  border: 1px solid white;
  color: black;
  font-size: 1.7em;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.grid-item-1 {
  margin-top: 3em;
  grid-area: contactHeading;
  

}



.grid-item-2 {
  grid-area: namePhoneNumber;
 
  
}
.grid-item-3 {
  grid-area: callButton;
}

.grid-item-4 {
  grid-area: hoursHeading;
}
.grid-item-5 {
  grid-area: hoursInfo;
}
.grid-item-6 {
  grid-area: locationHeading;
}
.grid-item-7 {
  grid-area: addressFirstLine;
}
.grid-item-8 {
  align-self: start;
  grid-area: addressSecondLine;
}
.grid-item-9 {
  grid-area: map;
  height: 30vh;
}

.grid-item-9 iframe {
  width: 100%;
  height: 100%;
}
.grid-item-10 {
 grid-area: directionButton;
 
}




.about-us-header {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.about-us-img-wrapper {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}

.about-us-img-wrapper img {
  width: 100%;
}

.about-us-header h3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  font-size: 2.6em;
}

.about-us-flavor-text {
  color: rgb(228,81,81);
  font-size: 2.5em;
  display:  flex;
  width: 100%;
  justify-content:  center;
  margin: 2em 0px 2em 0px;
  text-align: center;
}

.about-us-flavor-text p {
  margin: 0px .5em 0px 0.5em;
}

.about-us-body {
  display: flex;
  flex-wrap:  wrap;
  justify-content:  center;
  width: 100%;
  margin: 2em 0px 2em 0px;
  
}

.chef-img-wrapper {
  width: 70%;
  height: 30vh;
  overflow: hidden;
  margin-bottom: 2em;
}

.chef-img-wrapper img {
  width: 100%;
}

.about-us-body-text {
  width: 100%;
  font-size: 1.7em;
}

.about-us-body-text p {
  text-align:  center;
  margin: 0px 1em 0px 1em;
}

.gallery-button-styling {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 3em;
}

.gallery-button-styling button {
  color: white;
  font-size: 1.2em;
  padding: 1em;
  background-color: black;
  width: 30%;
}

.site-footer {
  background-color: rgb(126, 188, 187);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-footer a {
  text-decoration:  none;
}

.site-footer a:first-of-type {
  margin-top: 1em;
}

.site-footer a:last-of-type {
  margin-bottom: 1em;
}

.site-footer p {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: .2em;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding: .4em;
    font-size: 30px;
    width: 50px;
    margin-top: .5em;
    text-align: center;
    text-decoration: none;
    
    border-radius: 50%;
}
  
  @media (orientation: landscape) {
    .desktop-top-logo-color-wrapper {
      display: none;
    }
    #phone {
      display: block;
      float: left;
      width: 14%;
    }
    .topnav a:not(:first-child) {
      display: block;
      width: 10%;
      height: 1.2em;
  }
    
    .topnav a.icon {
      display: none;
    }
    .topnav a:not(.icon) {
      padding: 1em 1% 1em 1%;
  }

    .mobile-logo-wrapper {
      height: 1.2em;
      display: flex;
      width: 30%;
      float: left;
      align-items: center;
      justify-content: center;
      padding: 1em 1% 1em 1%;
  }
  .mobile-logo {
    height: 110%;
  }

  .contact-footer {
    font-size: 1.5em;
  }
  /*
  .first-image-wrapper img {
    width: 100%;
    height: 16em;
}
*/

.first-image-overlay img {
  height: 4em;
  width: 4em;
  margin: auto;
}

#menu-btn {
  margin-bottom: 0px;
  
  display: flex;
  width: 50%;
  justify-content: flex-end;
  
 
}

#menu-btn button {
  margin-right: 3em;
}

#catering-btn {
  margin-top: 0px;
  display: flex;
  width: 50%;
  justify-content: flex-start;
  /* margin-left: 0.8em; */
}

#catering-btn button {
  margin-left: 3em;
}
.footer-button {
  padding: .7em .9em .7em .9em;
  margin: 1.2em 1em 1em 1em;
  font-size: .6em;
}
#footer-close-btn {
  
  font-size: .8em;
  
}

.grid-container{
  justify-content: center;
  grid-template-columns: 40% 40%;
  border: 50px solid black;
  border-left: 25px solid black;
  border-right: 25px solid black;
  grid-template-areas: 
   "contactHeading contactHeading"
   "namePhoneNumber namePhoneNumber"
   "hoursHeading hoursHeading"
   "hoursInfo hoursInfo"
   "locationHeading locationHeading"
   "addressFirstLine addressSecondLine"
   "directionButton map"
   "callButton map";      
}
.grid-item-9 {
  display: flex;
  grid-area: map;
  height: 50vh;
  align-items: center;
  margin-bottom: 3em;
}

.grid-item-5 {
  margin-top: .5em;
  align-self: center;
  font-size: 1.2em;
  grid-area: hoursInfo;
}

.grid-container button {
  padding: .3em;
  background-color: black;
  color: white;
  font-size: 1.1em;
  border-style: none;
  width: 6em;
  margin-bottom: .3em;
}
.grid-item-3 {
  height: 25vh;
  align-self: start;
  grid-area: callButton;
  margin-bottom: 3em;
}
/*
.grid-item-10 {
  align-self: end;
  margin-bottom: .7em;
  grid-area: directionButton;
}
*/
.grid-item-10 {
  display: flex;
  grid-area: directionButton;
  align-items: flex-end;
  height: 25vh;
}

.grid-item-7 {
  grid-area: addressFirstLine;
  justify-self: end;
  font-size: 1.3em;
}
.grid-item-8 {
  font-size: 1.3em;
  grid-area: addressSecondLine;
  justify-self: start;
  align-self: center;
  margin-left: .2em;
}

.about-us-img-wrapper {
  height: 40vh;
}

.about-us-flavor-text p {
  width: 70%;
}

.chef-img-wrapper {
  width: 70%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: 3em;
}

.chef-img-wrapper img {
  width: 100%;
}

.about-us-body-text {
  width: 100%;
  font-size: 1.9em;
}

.about-us-body-text p {
  text-align:  center;
  margin: 0px 1.5em 0px 1.5em;
}

.site-footer p:hover {
  background-color: #ccf6ff;
  color: black;
}

.fa-facebook:hover {
 background: lightblue;
}
.gallery-button-styling button:hover {
  background-color: grey;
}

  }

 
 

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 900px) {
  .contact-footer {
    display: none;
  }
  .topnav {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background-color: rgb(126,188,187);
    
}
    .topnav a:not(:first-child) {
      display: block;
      width: 20%;
    
    }
    /* Hide the link that should open and close the topnav on small screens */
   .topnav a.icon {
    display: none;
  }

   
  .topnav a {
    font-size: 1.4em;
    display: block;
    width: 20%;
 
  }
/*
  #first-image {
    width: 100%;
    height: 32em;
}
*/
#first-image {
  width: 100%;
}
.first-image-overlay p {
  font-size: 2em;
  
  margin: 1.5em 2em 1.5em 2em;
}

.first-image-overlay img {
  height: 6em;
  width: 6em;
  margin: auto;
}
  
  .desktop-top-logo-color-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desktop-top-logo-color-wrapper img {
    width: 25%;
    margin: 30px 0px 30px 0px;

  }
  .mobile-logo-wrapper {
    display: none;
  }
  .menu-wrapper img {
   
    width: 100%;
}

  .menu-img-overlay button {
    
    font-size: 1.5em;
    width: 7em;
    
}

.grid-container{
  justify-content: center;
  grid-template-columns: 35% 35%;
  grid-template-areas: 
   "contactHeading contactHeading"
   "namePhoneNumber namePhoneNumber"
   "hoursHeading hoursHeading"
   "hoursInfo hoursInfo"
   "locationHeading locationHeading"
   "addressFirstLine addressSecondLine"
   "directionButton map"
   "callButton map";      
}

.grid-item {
  font-size: 1.6em;
}
.grid-item-9 iframe {
  height: 40vh;
  
  
}

.grid-item-3 {
  
  display: flex;
  height: 25vh;
  align-items: flex-start;
  grid-area: callButton;
  
 
}
.grid-item-10 {
  align-self: center;
  grid-area: directionButton;
}


.grid-item-7 {
  justify-self: end;
  grid-area: addressFirstLine;
}
.grid-item-8 {
  grid-area: addressSecondLine;
  justify-self: start;
  margin-left: .2em;
}



.about-us-header h3 {
  font-size: 3.2em;
}
 
.about-us-flavor-text {
  font-size: 3em;
}

.about-us-flavor-text p {
  width: 50%;
}

.chef-img-wrapper {
  width: 60%;
  height: 90vh;
  overflow: hidden;
  margin-bottom: 2em;
}

.chef-img-wrapper img {
  width: 100%;
  margin-left: 2em;
}

.about-us-body-text {
  width: 40%;
  font-size: 2.8em;
}

.about-us-body-text p {
  text-align:  center;
  margin: 0px 1em 0px 1em;
}
.gallery-button-styling {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 5em;
  margin-top: 5em;
}

.gallery-button-styling button {
  color: white;
  font-size: 1.6em;
  padding: 1em;
  background-color: black;
  width: 30%;
}

.site-footer {
  padding: 1.3em 0px 1.3em 0px;
  background-color: rgb(126, 188, 187);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
 
.site-footer p {
  font-size: 1.5em;
}
.site-footer a:first-of-type {
  margin-top: 0px;
}

.site-footer a:last-of-type {
  margin-bottom: 0px;
}

.fa-facebook {
  margin-top: 0px;
}

}

@media screen and (min-width: 1200px) { 
    
  .grid-item {
    font-size: 2.1em;
  }

  .about-us-header h3 {
    font-size: 4.5em;
  }

  .about-us-flavor-text {
    
    font-size: 4.5em;
  }

  .about-us-flavor-text p {
    width: 50%;
  }

  .site-footer p {
    font-size: 2em;
  }

  .topnav a {
    font-size: 2.3em;
  }
    }

 
  
  